.experience {
    margin-top: 35px;
}

.experience__section__title {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
}

.experience__title {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;

}

.experience__text {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 1.2rem;

}

.experience__img {
    width: 49%;
}

.experiencie__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding-top: 1.6rem;
}

.botao {
    box-sizing: border-box;
    width: 100px;
    height: 30px;
    padding: .5rem .9rem;
    border-radius: 5px;
}

.experiencia__botao--repo {
    background-color: rgb(62, 181, 236);
    transition: 0.9s;
    border: 1px solid transparent;

}

.experience__botao--demo {
    border: 1px solid rgb(62, 181, 236);
    transition: 0.9s;
}

.experiencia__botao--repo:hover {
    border: 1px solid rgb(62, 181, 236);
    background-color: white;
}

.experience__botao--demo:hover {
    background-color: rgb(62, 181, 236);
    border: 1px solid transparent;
}