.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu__list{
    display: flex;
    align-items: center;
    gap: 32px;
}
.title__div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.title__network{
    display: flex;
    gap: 32px;
    align-items: flex-start;
}
.title__container{
    flex-grow: 3;
    flex-shrink: 2;

}